:root {
  /* color vars */
  --tlb: #3c62a5;
  /* triple letter value background */
  --twb: #7d3941;
  /* triple word value background */
  --dlb: #76986f;
  /* double letter value background */
  --dwb: #b77525;
  /* double word value background */
  --ctb: #60435f;
  /* center color background */
  --tlc: white;
  /* triple letter value textcolor */
  --twc: white;
  /* triple word value textcolor */
  --dlc: white;
  /* double letter value textcolor */
  --dwc: white;
  /* double word value textcolor */
  --ctc: white;
  /* center color textcolor */
  --tileb: #e8e6e1c8;
  /* tile background */
  --playedb: #eae496c8;
  /* played tile background */
  --tilec: #33302f;
  /* tile background */
  --sqb: #24292f;
  /* square background */
  --bb: #1b1b1b;
  /* board background */
  --bhb: #dbdbdb;
  /* board header color background */
  --bhc: #de2f32;
  /* board header textcolor */

  /* size vars */
  --tablesize: 640px;
  --cellsize: 44px;
  /*var(--tablesize) / 16;*/
}

* {
  box-sizing: border-box;
}

.header {
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;

}

.messages {
  font-size: 20px;
}

.move {
  font-size: x-large;
  text-align: center;
  font-weight: bolder;

}

.navigate {
  font-size: 24px;
  background-color: #3c62a5;
  border-color: darkblue;
  border-width: 3px;
  border-radius: 10px;
  color: yellowgreen;
  padding: 4px 10px
}

.show-hide {
  font-size: 24px;
  background-color: #3c62a5;
  border-color: darkblue;
  border-width: 3px;
  border-radius: 10px;
  color: yellowgreen;
  padding: 4px 10px
}

.hidden {
  display: none
}

.shown {
  display: block
}

[disabled] {
  opacity: 50%;
}

.move-list {
  font-size: 18px
}

.board {
  margin-top: 20px;
  background: var(--bb);

  td {
    position: relative;
    height: var(--cellsize);
    width: var(--cellsize);
    line-height: var(--cellsize);
    text-align: center;
    background: var(--bb);
  }

}

.thh, .thv {
  background: var(--bhb);
  height: var(--cellsize);
  width: var(--cellsize);
}

.square {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--sqb);

}

.square.tl {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--tlb);
  color: var(--tlc);

  &:before {
    content: "TL";
  }
}

.square.tw {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--twb);
  color: var(--twc);

  &:before {
    content: "TW";
  }
}

.square.dl {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--dlb);
  color: var(--dlc);

  &:before {
    content: "DL";
  }
}

.square.dw {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--dwb);
  color: var(--dwc);

  &:before {
    content: "DW";
  }
}

.square.ct {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--ctb);
  color: var(--ctc);

  &:before {
    content: "☘";
  }
}

.tile {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--tileb);
  color: var(--tilec);
  text-align: center;
  font-size: 24px;
}

.played {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--playedb);
  color: var(--tilec);
  text-align: center;
  font-size: 24px;
}

.tile .score, .played .score {
  position: absolute;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 4px;
  display: block;
  line-height: 1;

}

.canvas {
  background-color: var(--bhb);
  width: 740px;
  padding: 10px;
}

.buttons {
  margin: 0 auto;
  background-color: var(--bhb);

  td {

    position: relative;
    text-align: center;
  }

}

.players {
  margin: 0 auto;
  background-color: var(--bhb);

  td {

    position: relative;
    text-align: center;
  }

}

.player .name {
  font-size: 24px;
  font-weight: bold;
}

.player .total-score {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.player .rack {
  margin-left: 10px;
}



.rack {

  background: var(--bb);

  td {
    position: relative;
    height: var(--cellsize);
    width: var(--cellsize);
    line-height: var(--cellsize);
    text-align: center;
  }

}