:root {
  /* color vars */
  --tlb: #3c62a5;
  /* triple letter value background */
  --twb: #7d3941;
  /* triple word value background */
  --dlb: #76986f;
  /* double letter value background */
  --dwb: #b77525;
  /* double word value background */
  --ctb: #60435f;
  /* center color background */
  --tlc: white;
  /* triple letter value textcolor */
  --twc: white;
  /* triple word value textcolor */
  --dlc: white;
  /* double letter value textcolor */
  --dwc: white;
  /* double word value textcolor */
  --ctc: white;
  /* center color textcolor */
  --tileb: #e8e6e1c8;
  /* tile background */
  --playedb: #eae496c8;
  /* played tile background */
  --tilec: #33302f;
  /* tile background */
  --sqb: #24292f;
  /* square background */
  --bb: #1b1b1b;
  /* board background */
  --bhb: #dbdbdb;
  /* board header color background */
  --bhc: #de2f32;
  /* board header textcolor */

  /* size vars */
  --tablesize: 640px;
  --cellsize: 44px;
  /*var(--tablesize) / 16;*/
}

* {
  box-sizing: border-box;
}

.thh, .thv {
  background: var(--bhb);
  height: var(--cellsize);
  width: var(--cellsize);
}


.tile {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--tileb);
  color: var(--tilec);
  text-align: center;
  font-size: 24px;
}

.played {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--playedb);
  color: var(--tilec);
  text-align: center;
  font-size: 24px;
}

.score {
  position: absolute;
  font-size: 12px;
  position: absolute;
  top: 2px;
  right: 4px;
  display: block;
  line-height: 1;

}

.square {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--sqb);

}

.square.tl {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--tlb);
  color: var(--tlc);

  &:before {
    content: "TL";
  }
}

.square.tw {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--twb);
  color: var(--twc);

  &:before {
    content: "TW";
  }
}

.square.dl {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--dlb);
  color: var(--dlc);

  &:before {
    content: "DL";
  }
}

.square.dw {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--dwb);
  color: var(--dwc);

  &:before {
    content: "DW";
  }
}

.square.ct {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;

  background: var(--ctb);
  color: var(--ctc);

  &:before {
    content: "☘";
  }
}

.board {
  margin: 0;
  background: var(--bb);

  td {
    position: relative;
    height_: var(--cellsize);
    width_: var(--cellsize);
    line-height: var(--cellsize);
    text-align: center;
    background: var(--bb);
  }

}