<!DOCTYPE html>
<html lang="da">
    <head>
        <title>Scrabble Autoplay</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/www/styles.css" />
        <script src="/www/script.js"></script>
    </head>
    <body>
        <div class="canvas">
            <div class="header">{{.Scrabble}} - {{.User}}</div>
            <div class="subheader">{{.Autoplay}}</div>
            <div class="header"></div>
        </div>
        <div class="canvas">
            <a href="/scrabble">
                <button class="navigate">{{.MainMenu}}</button>
            </a>
            <a href="/scrabble/autoplay/game">
                <button class="navigate">{{.AutoplayGame}}</button>
            </a>
        </div>
    </body>
</html>
