<!DOCTYPE html>
<html lang="da">
    <head>
        <title>Scrabble</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/www/styles.css" />
        <script src="/www/script.js"></script>
    </head>
    <body>
        <div class="canvas">
            <div class="header">{{.Scrabble}} - {{.User}}</div>
        </div>
        <div class="canvas">
            <a href="/scrabble/autoplay">
                <button class="navigate">{{.Autoplay}}</button>
            </a>
        </div>
    </body>
</html>
